p,
h1,
h2,
h3,
h4,
h5,
h6,
body,
html {
  padding: 0;
  margin: 0;
}
body {
  width: 350px;
  height: 600px;
  background-color: #282f38;
}

a,
p,
div,
section,
input,
select {
  color: #ffffff;
}
select {
  background-color: #282f38;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: transparent;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 25px;
}

.float-right {
  float: right;
}

h1,
h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

hr {
  border-top: 1px solid #000000;
  margin: 10px 0;
}

@font-face {
  font-family: "iconfont";
  src: url("//at.alicdn.com/t/font_806738_p7efg5ilua.eot?t=1535469568275"); /* IE9*/
  src: url("//at.alicdn.com/t/font_806738_p7efg5ilua.eot?t=1535469568275#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAAlcAAsAAAAADmgAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABHU1VCAAABCAAAADMAAABCsP6z7U9TLzIAAAE8AAAARAAAAFY8eUv4Y21hcAAAAYAAAACpAAACPB9W9s9nbHlmAAACLAAABM0AAAcAE60T5WhlYWQAAAb8AAAAMAAAADYSdVX9aGhlYQAABywAAAAgAAAAJAfdA45obXR4AAAHTAAAABQAAAAwMAH//2xvY2EAAAdgAAAAGgAAABoMdgp0bWF4cAAAB3wAAAAeAAAAIAEiAGJuYW1lAAAHnAAAAUUAAAJtPlT+fXBvc3QAAAjkAAAAeAAAAJzoh/oDeJxjYGRgYOBikGPQYWB0cfMJYeBgYGGAAJAMY05meiJQDMoDyrGAaQ4gZoOIAgCKIwNPAHicY2BkYWCcwMDKwMHUyXSGgYGhH0IzvmYwYuRgYGBiYGVmwAoC0lxTGByeMb9iY27438AQw9zA0AAUZgTJAQDeJgvweJzlkjEOgzAMRV9KCC1UokIM3Vl7vm7coifo1LtwBlYjcQlqx10qeoM6epH8YznRd4ASKJSbEiG8CFg8VQ1ZL6izHrlr3nNRJUohlbTSySCjTMu8pm0DVcu9uougXXquXwtOVHpScyDpqxqOdo8Wpx8d/i3OeX98ssacdtQ1pHTUPyQ5NjupHJuftI66i3QOVjs49g9kdHL/ydEpsMyO/ZM1OcQ3Dvo3DwAAAHicbVTPj9NWEJ55b2PHJrbXThwncfaH14lNs2gXNpu4iHZjVIrooaqKyFIEFVIPRaUgkOhhQ7XUainqgSs998KqXf6AVoBo1FYqPfTQUg7dC+ceqr1xaBWnYyeLgGK992bmm/Hz88z3BjLD4fD7CeAh2BBACG/AmwAZZwF9fQWXipY+jU1nqR2MLRWxuNTBtue7c96ruExSxSksCPOoopVfbi8VC8KcF+woftN0eTiI3j7PsNauIdZsFtmJJIOdj9+RK/LvsqCEqmGo/WQJFUH+wKgaNPoj8VW/f5CfO4r0Xs2Oo2qtVt3Rj57DY5L0QM6hoUaKgWgokWpgTsZAMQybthuJhRDokZKFn2XXUt2EIszAPOyBFhwEyLs7Z7bof5c915kTCkXxCVpP7Wbqwxei9/dVG7bdqP6Lt/Llcj7uGuXyd2OMbaSmkboGay9C2TGzWm1Uq8WyV6LxzcgKy16ZxhBG5sGRCZADGPZ5xOmHQIRdoEEeLHDBpz9ahCbVEvLNlssd3bFoBqSj7uiJrbstV2/qTdNpufWxv+6azSRepNmPogijOAoRhhCSHmIUDgEh6oeEhQN44mUUGoYhTQbRYBQXRiyMkw36CDFQJL3SH7n60SDZPCkDS2uRnH8XMQ/QNelUrWarSedwVBSJd5azgoG+gOzh5uomjdXBZm0v4t4aW00ldhN0E7sEPe2ijMDwR36Pr0CZMnEEoK6imal7rieYhaKVCYrtwKyvYItY/qynRR5r5An21T1BzKiY4AQTuuzx9fxkvBHfVM3ZGU3BdVR3T+K6oqFrP+O4ou3WMHEwNxt/NrlbjT9VtB2cYG0bJbz5dZa7JbWUvYsymd9mK2rZ+YW0jZHDkm4/cZScn+5mWfa2WJ4qZe9ImL2baJRCIc3jr1x7hgdUe9MNHNMRn5Nv9XqP2ReDtcfPSa71er0Ha2tr92iO6zP8i1/nJVCS+lhzC9gOMGG9iIIz56NHV8DCabr2X8palovsoVQuSIN5if2sJKJQlthDkWc1SzYMkW3LRkUa6LLMtqWKIQ900TDk8Xf+5Bt8njpPl3iwTBfJD9qLuIAazUVqNUlr0VDQ0PdoEYoz1G6oKKIwQ5/v0CSgeACX2h0kwljFdtqfMlRcMolGKvJXJpCfyImrXJE+nKwXdK6Im6KKel6vnZFUscsz4onnQnbJt0SFIur6WVGb6HIU4vc6XcRuJ12xKxcqBfmIotyY4LyRM6UL1IVk4SMhV2rwjHBjQhMP/S9ElGXxgmTm0gja1tvZjlZIeRtRL46ojgV4mfqwB34bgiJYAvgJ/5Jmk6fb0Uy7MSlJQkRBdM2gaS63g3awLyUvg634USaDztYWOplM/Oif2UYjbDRmT1/hF7FzusNwxrYK8rQqI+KF2cq0ZU+xK9FTb2zRDnfQ3+/TYJ/wS8f37N+/Z2qRGqo041dsRVGmFxW9ZB/2jl8a1/EHvs47dPZpqiPlnbKfXjAqoy9Qtn3PVVkx6a74Eu+dOnmZscsnT/XYa9l3D0ni638cy4rhaevAx3j94mF25lSP7wQN/n7/KkPuTTQm+LX7n7Or9D1MSXqLbYFO9zvl45ieElJnZpGRi39TFFxU5ipKvI26UvZSK1lsh6B4W3Hs/wDruEjSAAAAeJxjYGRgYABi+Z0qp+L5bb4ycLMwgMD11Z1w+v///w0sDMwNQC4HAxNIFAA45AubeJxjYGRgYG7438AQw8L4/z8DAwsDA1AEBfAAAHX8BHR4nGNhYGBgYfz/nwVEE4EBV+gCMAAAAAAAdgDcATwBagHgAgwCQALGAyQDXAOAAAB4nGNgZGBg4GEIA2IQYAJiLiBkYPgP5jMAABMIAYUAAHicZY9NTsMwEIVf+gekEqqoYIfkBWIBKP0Rq25YVGr3XXTfpk6bKokjx63UA3AejsAJOALcgDvwSCebNpbH37x5Y08A3OAHHo7fLfeRPVwyO3INF7gXrlN/EG6QX4SbaONVuEX9TdjHM6bCbXRheYPXuGL2hHdhDx18CNdwjU/hOvUv4Qb5W7iJO/wKt9Dx6sI+5l5XuI1HL/bHVi+cXqnlQcWhySKTOb+CmV7vkoWt0uqca1vEJlODoF9JU51pW91T7NdD5yIVWZOqCas6SYzKrdnq0AUb5/JRrxeJHoQm5Vhj/rbGAo5xBYUlDowxQhhkiMro6DtVZvSvsUPCXntWPc3ndFsU1P9zhQEC9M9cU7qy0nk6T4E9XxtSdXQrbsuelDSRXs1JErJCXta2VELqATZlV44RelzRiT8oZ0j/AAlabsgAAAB4nG3KUQ6CMAwA0BYHm4gm3MQv79PNIg1zJWyLxtNrwq/v+0EDux7+G7DBAxpssUOLDo/Y4wkHPIMr1Qvp9XaRoGnSVALJnZLl7cXyJLvGmr2+x6WSfGZSzzJx+uVuj22ImtllLkXSI5uZ42pq5s14CgvAFwb9I1Q=")
      format("woff"),
    url("//at.alicdn.com/t/font_806738_p7efg5ilua.ttf?t=1535469568275")
      format("truetype"),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
      url("//at.alicdn.com/t/font_806738_p7efg5ilua.svg?t=1535469568275#iconfont")
      format("svg"); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e612";
}

.icon-import:before {
  content: "\e606";
}

.icon-erweima:before {
  content: "\e7dd";
}

.icon-plusbox:before {
  content: "\ea06";
}

.icon-backup:before {
  content: "\e623";
}

.icon-close:before {
  content: "\e605";
}

.icon-icon-qihuan:before {
  content: "\e60d";
}

.icon-settings:before {
  content: "\e6cb";
}

.icon-help:before {
  content: "\e603";
}

.icon-user:before {
  content: "\e607";
}
.icon-back:before {
  content: "\e67d";
  font-size: 35px;
  line-height: 60px;
  margin-left: 15px;
  cursor: pointer;
}

.color-black {
  color: #282f38;
}
.color-green {
  color: #1bc1b0;
}

.bg-red {
  background-color: #d84c4c !important;
}
.bg-gray {
  background-color: #3c454b !important;
}
.bg-green {
  background-color: #1bc1b0 !important;
}

.mask {
  z-index: 9998;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.7);
}
.faster {
  animation-duration: 0.3s !important;
}
/*按钮样式*/
/* button, */
.btn {
  width: 100%;
  position: relative;
  display: inline-block;
  font-size: 0.7rem;
  font-weight: 400;
  font-family: inherit;
  text-decoration: none;
  text-align: center;
  margin: 0;
  background: #dddddd;
  padding: 0 0.6rem;
  height: 1.5rem;
  line-height: 1.5rem;
  border-radius: 0.2rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
}
.btn:hover {
  cursor: pointer;
}
.btn:active {
  color: #212121;
  background-color: #bdbdbd;
}
.btn-primary {
  color: #ffffff;
  background-color: #282f38;
}
.btn-primary.active,
.btn-primary:active {
  color: #ffffff;
  background-color: #282f38;
  border: none;
}
.btn-close {
  color: #ffffff;
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.btn-group {
  padding: 5px 50px;
  line-height: 45px;
}

.form {
  font-size: 14px;
}

.form-item {
  margin: 10px 0;
  padding: 5px 10px;
  background-color: #282f38;
  border-radius: 5px;
}

.form-item label {
  display: inline-flex;
}
.form-item input {
  border: none;
  outline: none;
  background: transparent;
  display: inline-block;
  width: 100%;
}
.form-item-label {
  text-align: right;
  vertical-align: middle;
  float: left;
  font-size: 12px;
  line-height: 1;
  padding: 10px 12px 10px 0;
  box-sizing: border-box;
}
.form-item-content {
  position: relative;
  line-height: 32px;
  font-size: 12px;
}
